@using Microsoft.AspNetCore.Http;
@model dynamic



@{
    ViewData["Title"] = "Index";
    var referralList = Model.ReferralList as IEnumerable<JRSystem.Models.Referral>;
    var id = Model.Id;
}

<h1>Referrals</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => referralList.FirstOrDefault().ReferralName)
            </th>
            <th>
                @Html.DisplayNameFor(model => referralList.FirstOrDefault().AccountID)
            </th>
            <th>
                @Html.DisplayNameFor(model => referralList.FirstOrDefault().ReferralDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => referralList.FirstOrDefault().deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => referralList.FirstOrDefault().JobTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in referralList)
        {
            
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReferralName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReferralDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.deadline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>
                    <td>
                        <a asp-controller="Applications" asp-action="Create" asp-route-id=@item.ReferralId>Apply now!</a>
               
                    </td>
                </tr>
            
            
        }
    </tbody>
</table>
